body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: auto;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.box {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 94px;
    font-weight: bold;
    line-height: 150px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

.box:focus {
    outline: none;
}

.kbd-navigation .box:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.game-board{
    margin: 0 auto;
}

.savedGame{
    width:100%;
    padding:5px;
    display:block;
}

.controlGame{
    padding:5px 0;
}

.controlGame > button{
    padding:5px;
    margin-right: 5px;
}
